

/* body {
  background-color: black;
} */

.header {
  position: fixed;
  background-color: rgb(59, 4, 110);
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

button {
  background: none;
  color: white;
  font-size: 1.2rem;
  border: none;
}

li:not(:first-child){
  border-left: 2px solid white;
}

h1,
h2 {
  text-align: center;
}

#book-list {
  border: 2px solid coral;
  width: 100%;
  padding: 0.3rem;
}

table tr:nth-child(2n + 1) {
  background-color: slateblue;
  margin: 0.3rem;
}

.remove-td-btn {
  float: right;
}

.remove-btn {
  background-color: #f31e37;
  color: white;
  border: none;
  padding: .0.3rem;
  border-radius: 5px;
  font-weight: 600;
}

.underline {
  height: 3px;
  background-color: brown;
  width: 30%;
  margin: 0 auto;
}

#add-book-form {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

#add-btn {
  width: fit-content;
  margin-left: auto;
}

@media (min-width: 768px) {
  #book-list {
    width: 40%;
    margin: 0 auto;
  }

  #add-book-form {
    width: 30%;
  }
}